<mat-carousel interval="3700" proportion="33" hideArrows="false">
    <mat-carousel-slide image="assets/Img/MarinePic.jpg"><h1 style="padding-left: 660px; color: white; font-family:ZettaFont;">Marine Containers</h1></mat-carousel-slide>
    <mat-carousel-slide image="assets/Img/Masof208.jpg"><h1 style="padding-left: 660px; color: white; font-family:ZettaFont;">Terminal 208</h1></mat-carousel-slide>
    <mat-carousel-slide image="assets/Img/Group207.jpg"><h1 style="padding-left: 660px; color: white; font-family:ZettaFont;">Terminal 207</h1></mat-carousel-slide>
</mat-carousel>
