
<!--Site Main Layout Header-->
<header class="header-6">
    <div class="branding">
        <img style="height: 83%;padding-top: 15px;" src="assets/Img/GroupLogo.png" routerLink="/" routerLinkActive="active-link">
    </div>
    <div class="header-nav">
        <a class="active nav-link nav-text" routerLink="/" routerLinkActive="active-link">Home Page</a>
        <a class="nav-link nav-text" routerLink="/ContactUs" routerLinkActive="active-link">Contact Us</a>
    </div>
</header>
<!--Horizontal Site Navigation-->
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/Masof207" routerLinkActive="active-link" >Terminal 207</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Marine" routerLinkActive="active-link" >Marine Containers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"routerLink="/Masof208" routerLinkActive="active-link" >TPL208</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Eyal" routerLinkActive="active-link" >Eyal Cargo</a>
        </li>
    </ul>
