
@font-face {
    font-family: ZettaFont;
    src: url(/assets/fonts/zetta_serif-heavy-webfont.woff) format("truetype");
    font-weight:300;
  }

@font-face {
    font-family: ZettaBold;
    src: url(/assets/fonts/zetta_serif-bold-webfont.woff) format("truetype");
}

.About{ 
    font-size: 70px;
    font-family: 'ZettaFont';
    color:white;
    text-decoration: underline;
    position: absolute;
    top: 1140px;
    left: 35px;
    
}
.bottomHeader{
    background-size: 1700px;
    background-image: url("/assets/Img/MasofAboutPic2.jpg");
    background-repeat: no-repeat;
    height: 750px;
    width: auto;
    opacity: 1;
}  
.companiesLogo{
    padding-left: 130px; 
}
.groupHeader{
    margin-left: 605px;
    padding-bottom: 90px;
}

.aboutText{
    color : white;
    font-family: ZettaBold;
    font-size: 26px;
}


