
<app-navbarmenu></app-navbarmenu>
<!--Caroucel-->
<app-carousel></app-carousel>
<!--Company Logos-->
<br>
<br>
<br>
<div class="groupHeader">
    <img src="assets/Img/GroupLogo.png">
</div>
<div>
<img class="companiesLogo" src="/assets/Img/Masof207Logo.png">
<img class="companiesLogo" src="/assets/Img/Masof208Logo.png">
<img class="companiesLogo" src="/assets/Img/EyalCargoLogo.png">
<img class="companiesLogo" src="/assets/Img/MarineContainersLogo.png">
<img class="companiesLogo" src="/assets/Img/MarineCooling.png">
</div>
<br>
<br>
<br>
<br>
<br>
<div class="bottomHeader">   
    <a class="About">About</a>
<div class="aboutText" style="padding-top: 150px;padding-left: 35px;">
Group 207 is a bundle of six companies that offer a wide veriaty of logistic solutions.
</div>
<div class="aboutText" style="padding-top: 5px;padding-left: 35px;">
  Including: transportation,storage and containers and parcel handling.
</div>
<div class="aboutText" style="padding-top: 5px;padding-left: 35px;" >
The group operates using one of the most advanced logistic center located near Ashdod sea port.
</div>
<div class="aboutText" style="padding-top: 5px;padding-left: 35px;">
We use the most advenced technologies available in the market and operates as a one stop shop.    
</div>
<div class="aboutText" style="padding-top: 5px;padding-left: 35px;">
Our customers enjoy full logistics care from start to finish.
</div>
<div class="aboutText" style="padding-top: 5px;padding-left: 35px;"></div>

<div class="aboutText" style="padding-top: 30px;padding-left: 35px;">
Group 207 Logistic Force!
</div>
</div>
