
<!--Site Main Layout Header-->
<header class="header-7">
    <div class="branding">
        <img style="height: 70%;padding-top: 15px;" src="assets/Img/Masof207Logo.png">
    </div>
    <div class="header-nav">
        <a class="active nav-link nav-text" routerLink="/" routerLinkActive="active-link">דף הבית</a>
        <a class="nav-link nav-text">צור קשר</a>
    </div>
</header>
<!--Horizontal Site Navigation-->
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/Masof207" routerLinkActive="active-link" >מסוף 207</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Marine" routerLinkActive="active-link" >מרין קונטיינרס</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"routerLink="/Masof208" routerLinkActive="active-link" >מסוף 208</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Eyal" routerLinkActive="active-link" >אייל מטענים</a>
        </li>
    </ul>
</nav><br>

