<app-navbarmenu></app-navbarmenu>
<!--About Text-->
<div class="MarineText">Marine Containers specilizes in empty containers services for ship agents and shipping companies.</div>
<div class="MarineText">The service includes : Gate check, reception,cleaning,storage and full care of the container until it reaches the client.</div>
<div class="MarineText">Marine containers is a payoner in quelity assurnce.</div>
<div class="MarineText">In 1986 it was the first of its kind to be ISO 9000 certified.</div>
<div style="position: relative;top:12px;" class="MarineText">Marine Containers workers are certifed with the best and most advanced international information regarding reefer containers.</div>
<div style="position: relative;top:12px;" class="MarineText">Part of Marine Containers facility containes the train branch, The branch allow us to move containers between Ashdod and Haifa.</div>
<div style="position: relative;top:12px;" class="MarineText">You can store full or empty containers and use the train branch for export containers.</div>

<!--Icons and Icons text-->
<div style="position: relative;top: 200px;left: 70px;font-size: 25px;">
    Empty Containers storage
</div>
<img class="ContainerIcon" src="/assets/Img/ContainerIcon.png">
