<app-navbarmenu></app-navbarmenu>
<!--About Text-->
<div class="MarineText">Marine Containers specializes in empty containers services for ship agents and shipping companies.</div>
<div class="MarineText">The service includes : Gate check, reception,cleaning,storage and full care of the container until it reaches the client.</div>
<div class="MarineText">Marine containers is a pioneer in quality assurance.</div>
<div class="MarineText">In 1986 it was the first of its kind to be ISO 9000 certified.</div>
<div style="position: relative;top:12px;" class="MarineText">Marine Containers workers are certified with the best and most advanced international information regarding reefer containers.</div>
<div style="position: relative;top:12px;" class="MarineText">Part of Marine Containers facility contains the train branch, The branch allow us to move containers between Ashdod and Haifa.</div>
<div style="position: relative;top:12px;" class="MarineText">You can store full or empty containers and use the train branch for export containers.</div>

<!--Icons and Icons text-->
<div style="position: relative;top: 200px;left: 70px;font-size: 25px;">
    Empty Containers storage
</div>
<img class="ContainerIcon" src="/assets/Img/ContainerIcon.png">
<div style="position: relative;left: 450px;top: 116px;font-size: 25px;">
    repairs and maintaince for dry and reefer containers.
</div>
<img class="RepIcon" src="/assets/Img/Main.png">
<div style="position: relative;left: 1200px;top: 45px;font-size: 25px;">
    Train branch - cross country.
</div>
<img class="TrainIcon" src="/assets/Img/Train.png">
<div style="position: relative;left: 65px;top: 250px;font-size: 25px;">
    Containers renting and selling.
</div>
<img class="RentIcon" src="/assets/Img/Rent.png">
<div style="position: relative;left: 750px;top: 175px;font-size: 25px;">
    Full port services.
</div>
<img class="AnchorIcon" src="/assets/Img/Anchor.png">
<app-footer style="position: relative;top: 200px;"></app-footer>