<app-navbarmenu></app-navbarmenu>
<div class="tpl208">TPL 208 specializes in handling parcel that was released from customs and inventory management.</div>
<div class="tpl208">TPL 208 also provides other logistic solutions like: Packaging,tagging,dispatch,delivery of parcel to everywhere in the country.</div>
<div class="tpl208">The storage facility utilizes advanced computer systems like WMS use for managing the indoors storage,</div>
<div class="tpl208">FCL used for outdoor storage and LPR.</div>
<!--Space here-->
<div class="tpl208" style="margin-top: 10px;">TPL 208 have 35 docking ramps for loading and unloading that are equipped with height equalizers and other service tools.</div>
<div class="tpl208">TPL 208 gates are monitored 24/7.</div>

<img class="TPLPIC1" src="/assets/Img/TPL208Pic2.png">
<img class="TPLPIC2" src="/assets/Img/TPL208Pic3.png">
<app-footer style="position: relative;top: 105px;"></app-footer>