.tpl208{
    font-family: 'ZettaFont';
    font-size: 25px;
    margin-left: 20px;
}

.TPLPIC1{
    width: 600px;
    margin-left: 50px;
    margin-top: 30px;
}

.TPLPIC2{
    width: 600px;
    margin-left: 300px;
    margin-top: 32px;
}