<app-navbarmenu></app-navbarmenu>
<div>
<div class="terminalText">Terminal 207 specializes in giving logistic solutions for any kind of cargo(before customs).</div>
<div class="terminalText">From the moment your cargo leaves the ship and until it reaches the shelf or its final destination.</div>
<div class="terminalText">Our unique equipment and methods allow for fast load and unloading using advanced information systems.</div>
<div class="terminalText">Our customers can monitor their cargo advancement through our system in real time through our website and app.</div>
<div class="terminalText">Terminal207 was established in 1996, it is located in Israel sea port park in Ashdod.</div>
<div class="terminalText">The terminal is ISO 9001:2008 certification approved by the israeli customs.</div>
</div>
<div></div>
<div></div>
<video style="position: relative;top: 20px;" height="400" width="1600" controls>
  <source src="/assets/Img/Masof207Video.mp4" type="video/mp4">
</video>
<app-footer style="position: relative;top: 10px;"></app-footer>